@font-face {
  font-family: 'Monday-Light';
  src: url('../fonts/Monday-LightWEB.eot'); /* IE9 Compat Modes */
  src: url('../fonts/Monday-LightWEB.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/Monday-LightWEB.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/Monday-LightWEB.woff') format('woff'), /* Pretty Modern Browsers */
}

body {
  font-family: Monday-Light, serif;
}

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

.header {
  background-image: url(../img/background.jpg);
  background-size: cover;
  background-position: 50%;
  height: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.header__content {
  /*margin: auto;*/
  text-align: center;
  padding: 0 20px;
}

.header__content h1 {
  font-size: 32px;
  color: #fff;
  letter-spacing: 0.2px;
  line-height: 40px;
  margin: 37px 0 0;
  font-weight: 100;
  max-width: 450px;
}

.main {
  background-color: #fff;
  height: 500px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.main__content {
  /*margin: auto;*/
  text-align: center;
}

.main__content p {
  font-size: 26px;
  color: #262626;
  letter-spacing: 0.2px;
  line-height: 45px;
  margin: 0 20px;
  font-weight: 100;
  max-width: 500px;
}

@media (min-width: 768px) {
  .main__content p {
    font-size: 32px;
  }
}

.main__content a {
  border-bottom: 1px solid #FF8F7A;
  text-decoration: none;
  line-height: 1;
}

.main__content a:link,
.main__content a:visited {
  color: #262626;
}
